/* NewCollections.css */

.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
}

.collections {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 30px;
}

.collections img {
    width: 370px;
    /* Lebar gambar */
    height: 370px;
    /* Tinggi gambar */
    object-fit: cover;
    /* Agar gambar tidak terdistorsi */
    border-radius: 10px;
    /* Membuat sudut gambar melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Bayangan gambar */
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #984738;
}