.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 80px;
    background: linear-gradient(180deg, #8E0E00, #1F1C18 60%);
    gap: 20px;
    text-align: center;
}

.newsletter h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    color: white;
    background: black;
    font-size: 15px;
    cursor: pointer;
}


/* Media Queries untuk Responsivitas */

@media (max-width: 768px) {
    /* Ukuran layar medium */
    .newsletter {
        width: 90%;
        /* Lebar lebih besar untuk layar kecil */
        padding: 0 20px;
        /* Padding lebih kecil */
    }
    .newsletter h1 {
        font-size: 40px;
        /* Ukuran font lebih kecil */
    }
    .newsletter p {
        font-size: 18px;
        /* Ukuran font lebih kecil */
    }
    .newsletter div {
        width: 100%;
        /* Lebar div 100% */
        /* Tetap menggunakan flex-direction: row untuk menjaga tata letak horizontal */
    }
    .newsletter input {
        width: 500px;
        /* Tetap menggunakan lebar input yang sama */
        margin-left: 30px;
        /* Mengembalikan margin kiri */
        margin-bottom: 0;
        /* Menghapus margin bawah */
    }
    .newsletter div button {
        width: 210px;
        /* Tombol tetap dengan lebar yang sama */
    }
}

@media (max-width: 480px) {
    /* Ukuran layar small */
    .newsletter {
        height: auto;
        /* Mengubah tinggi menjadi auto */
        padding: 0 10px;
        /* Padding lebih kecil */
    }
    .newsletter h1 {
        font-size: 30px;
        /* Ukuran font lebih kecil */
    }
    .newsletter p {
        font-size: 16px;
        /* Ukuran font lebih kecil */
    }
    .newsletter div {
        flex-direction: column;
        /* Mengubah arah flex menjadi kolom */
    }
    .newsletter input {
        width: 100%;
        /* Input mengambil 100% lebar */
        margin-left: 0;
        /* Menghapus margin kiri */
        margin-bottom: 10px;
        /* Menambahkan margin bawah */
    }
    .newsletter div button {
        width: 100%;
        /* Tombol mengambil 100% lebar */
    }
}