.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 80px;
    background: linear-gradient(180deg, #8E0E00, #1F1C18 60%);
    gap: 20px;
    text-align: center;
}

.newsletter h1 {
    columns: gray;
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    color: white;
    background: black;
    font-size: 15px;
    cursor: pointer;
}